/* Galerija */
.gallery img {
  width: 220px;
  border-radius: 12px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
  opacity: 1;
}
