backend:
  name: github
  repo: Rozenbilds/gintsroz
  branch: main
  base_url: https://authentic.deno.dev
  site_url: https://rozenbilds.github.io/gintsroz/

media_folder: "images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "blogs"
    label: "Ceļojumi"
    folder: "content/blogs"
    create: true
    slug: "{{slug}}"
    fields:
      - label: "Nosaukums"
        name: "title"
        widget: "string"
      - label: "Datums"
        name: "date"
        widget: "datetime"
      - label: "Attēls"
        name: "image"
        widget: "image"
      - labe
